/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700;900&family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}

.btn {
  border-radius: 37px;
  padding: 15px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  display: inline-block;
  width: 150px;
  text-align: center;
}
.btn-active {
  background-color: #007BA3;
  color: #fff;
}
.btn-accent-learnMore {
  padding: 15px 0;
  border: 1px solid #007BA3;
  color: #007BA3;
}
.btn-accent-askForAPrice {
  padding: 10px 0;
  border: 1px solid #007BA3;
  color: #007BA3;
}

.background {
  width: 100%;
  background-image: url("../img/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 120px;
}
.header__logo a {
  font-family: "Martel", serif;
  color: #252B42;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.header__nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav-items li {
  margin-left: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.header__nav-items li a {
  color: #737373;
}

.change-lang {
  position: relative;
  padding-right: 8px;
}
.change-lang::after {
  border-color: #737373;
  border-style: solid;
  border-width: 0 0 2px 2px;
  content: "";
  height: 6px;
  position: absolute;
  width: 6px;
  margin-left: 4px;
  margin-top: -3px;
  top: 50%;
  transition: all 0.1s ease-in-out;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.change-lang:hover::after {
  margin-top: -1px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.main {
  display: flex;
  padding-bottom: 225px;
}
.main .main__content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
.main .main__content-title {
  font-family: "Martel", serif;
  color: #252B42;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: 0.2px;
  line-height: 65px;
  margin-bottom: 35px;
}
.main .main__content-text {
  font-family: "Open Sans", sans-serif;
  color: #737373;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 30px;
  margin-bottom: 35px;
}
.main .main__content-buttons .btn {
  margin-right: 18px;
}

.service {
  margin-top: 80px;
  text-align: center;
  margin-bottom: 80px;
}
.service-title {
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  color: #252B42;
  margin-bottom: 15px;
}
.service-text {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  color: #737373;
  margin-bottom: 60px;
}
.service__cards {
  display: flex;
  justify-content: space-between;
}
.service__cards-item {
  width: 242px;
  padding: 70px 16px 35px 16px;
  background-color: #F6E4D7;
  border-radius: 10px;
}
.service__cards-item-img {
  margin-bottom: 15px;
}
.service__cards-item-text {
  font-family: "Open Sans", sans-serif;
  color: #252B42;
  line-height: 24px;
}

.advantages-bg {
  background-color: #F3F3F3;
}

.advantages {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
}
.advantages-title {
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  color: #252B42;
  margin-bottom: 15px;
}
.advantages-text {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  color: #737373;
  margin-bottom: 60px;
}
.advantages__cards {
  display: flex;
  justify-content: space-between;
}
.advantages__cards-item {
  width: 327px;
  padding: 30px 35px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dedede;
}
.advantages__cards-item p {
  font-family: "Open Sans", sans-serif;
  color: #252B42;
  line-height: 24px;
}

.productsdemo {
  padding-top: 80px;
  text-align: center;
  padding-bottom: 80px;
}
.productsdemo-title {
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 50px;
  color: #252B42;
  margin-bottom: 15px;
}
.productsdemo-text {
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
  color: #737373;
  margin-bottom: 60px;
}
.productsdemo__cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.productsdemo__cards-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
  height: 590px;
  padding: 30px 35px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #dedede;
}
.productsdemo__cards-item__title {
  text-align: justify;
  color: #252B42;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.2px;
}
.productsdemo__cards-item__text {
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  color: #737373;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.productsdemo__cards-item a {
  margin: 0 auto;
}

.footer-bg {
  background-color: #033857;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
}
.footer__nav {
  display: flex;
  align-items: center;
}
.footer__nav-items {
  display: flex;
}
.footer__nav-items .footer-logo {
  font-size: 24px;
  font-family: "Martel", serif;
  font-weight: 700;
}
.footer__nav-items_item {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-right: 40px;
}
.footer__nav-items_item a {
  color: #fff;
}
.footer__contacts-items {
  display: flex;
  flex-direction: column;
}
.footer__contacts-items_item {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.footer__contacts-items_item a {
  color: #fff;
  margin-left: 16px;
}
.footer__contacts-items_item:first-child {
  margin-bottom: 13px;
}

.underfooter-bg {
  background: var(--background-gradient-1, linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%));
}

.underfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
}
.underfooter h3, .underfooter address {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 24px;
}/*# sourceMappingURL=style.css.map */