.header__nav-items{
    display: flex;
    justify-content: center;
    align-items: center;

    li{
        margin-left: 24px;
        font-family: $font-main;
        font-size: 14px;
        font-weight: 600;
        color: $accent;
        letter-spacing: 0.2px;
    }
}

.change-lang{
    position: relative;
    padding-right: 8px;

    &::after{
        border-color: $accent;
        border-style: solid;
        border-width: 0 0 2px 2px;
        content: "";
        // display: block;
        height: 6px;
        position: absolute;
        width: 6px;

        margin-left: 4px;
        margin-top: -3px;
        top: 50%;

        transition: all 0.1s ease-in-out;

        transform: rotate( -45deg );
        -webkit-transform: rotate( -45deg );

    }
    &:hover::after{
        margin-top: -1px;
        transform: rotate( 135deg );
        -webkit-transform: rotate( 135deg );
    }
}