@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700;900&family=Open+Sans:wght@400;600;700&display=swap');

.wrapper {
    max-width: 1050px;
    margin: 0 auto;
}

.btn {
    border-radius: 37px;
    padding: 15px 0;
    font-family: $font-main;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    display: inline-block;
    width: 150px;
    text-align: center;
    
    
    &-active{
        background-color: $button;
        color: $white;
    }

    &-accent-learnMore{
        padding: 15px 0;
        border: 1px solid $button;
        color: $button;
    }

    &-accent-askForAPrice{
        padding: 10px 0;
        border: 1px solid $button;
        color: $button;
    }

    @media (max-width: 780px) {
        width: 100px;
        font-size: 12px;
        padding: 5px 0;
    }
}

.section-title{
    font-family: $font-title;
    font-size: 58px;
    font-weight: 900;
    line-height: 65px;
    color: $dark;

    display: flex;
    align-items: center;

    &::before{
        content: '';
        display: inline-block;
        width: 100px;
        height: 4px;
        background-color: $dark;
        margin-right: 20px;
    }
}