// Fonts
$font-logo: 'Martel', serif;
$font-main: 'Martel', serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #252B42;
$accent: #737373;
$footer: #033857;
$button: #007BA3;
$white: #fff;
// $muted: #e7e7e7;

// Media
$tablet: 976px;